/*
Name: Daniel Bernstein Website
Description: This is my personal Website and portfolio
Author: Daniel Bernstien
Author URI: https://github.com/drood87
Tags: Portfolio, Website
*/
/* General Styles */

@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/btn";
@import "components/card";
@import "components/project-gallery";
@import "components/service-box";
@import "components/social-bar";

@import "layout/grid";
@import "layout/header";
@import "layout/heading";

@import "pages/home";
