.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	height: 63rem;
	position: relative;
	text-align: center;
	font-family: $font-body;
	border-radius: 5px;

	&__side {
		width: 100%;
		border-radius: 3px;
		transition: all 1.1s ease;
		position: absolute;
		top: 0;
		left: 0;
		height: 52rem;
		font-size: 3rem;
		backface-visibility: hidden;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

		&--front {
			background-color: $color-white;
		}

		&--back {
			background-color: green;
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(
					to right bottom,
					$color-primary-greenish,
					$color-secondary-blueish
				);
			}
			&-2 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-secondary-yellow, 0.9),
					rgba($color-secondary-green, 0.9)
				);
			}
			&-3 {
				background-image: linear-gradient(
					to right bottom,
					rgba($color-tertiary-rose, 0.9),
					rgba($color-tertiary-light-corn, 0.9)
				);
			}
		}
	}
	&__heading {
		font-size: 2.3rem;
		width: 75%;
		text-align: right;
		font-weight: 400;
		text-transform: uppercase;
		position: absolute;
		top: 12rem;
		left: 5rem;
		color: $color-white;
		transform: rotate(5deg);
	}
	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(
				to right bottom,
				$color-primary-greenish,
				$color-secondary-blueish
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-yellow, 0.9),
				rgba($color-secondary-green, 0.9)
			);
		}
		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-rose, 0.9),
				rgba($color-tertiary-light-corn, 0.9)
			);
		}
	}
	&:hover &__side--front {
		transform: rotateY(-180deg);
	}
	&:hover &__side--back {
		transform: rotateY(0);
	}
	&__picture {
		background-size: cover;
		height: 23rem;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		&--1 {
			background-image: linear-gradient(
					to right bottom,
					$color-primary-greenish,
					$color-secondary-blueish
				),
				url(../images/card-img-1.jpg);
		}
		&--2 {
			background-image: linear-gradient(
					to right bottom,
					rgba($color-secondary-yellow, 0.9),
					rgba($color-secondary-green, 0.9)
				),
				url(../images/card-img-2.jpg);
		}
		&--3 {
			background-image: linear-gradient(
					to right bottom,
					rgba($color-tertiary-rose, 0.9),
					rgba($color-tertiary-light-corn, 0.9)
				),
				url(../images/card-img-3.jpg);
		}
	}
	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				font-size: 1.5rem;
				text-align: center;
				padding: 1rem;
				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}
	}
	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		color: $color-white;
	}
	&__price-box {
		padding: 5rem;
		margin-bottom: 5rem;
	}
	&__price-only {
		font-size: 1.5rem;
	}
	&__price-value {
		font-size: 6.3rem;
	}
}
